
<!DOCTYPE html>

<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Renderizando Juegos</title>

</head>

<body>


    <h1>Listado de Juegos</h1>

    <ol>

        {% for juego in juegos %}

            <li>
                
                {{ juego["nombre"] }}
                <br>
                {{ juego["plataforma"] }}
                <br>
                {{ juego["anio"] }}

            </li>

        {% endfor %}

    </ol>

</body>

</html>