<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="contenedor-mensajes">
    <!-- Títulos principales -->
    <header class="cabecera-perfil">
        <h1>Andrea</h1>
        <h2>Mensajes a Andrea</h2>
    </header>

    <!-- Formulario superior de envío -->
    <form class="formulario-envio">
        <input type="text" class="campo-texto">
        <button type="submit" class="btn-enviar">Enviar</button>
    </form>

    <!-- Bloque de Mensaje Principal -->
    <article class="seccion-mensaje">
        <a href="#" class="enlace-autor">Mensaje de Katya, hace 5 horas</a>
        <p class="texto-contenido">lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </article>

    <!-- Sección de Comentarios -->
    <section class="seccion-comentarios">
        <h3>Comentarios</h3>

        <!-- Comentario Individual -->
        <div class="comentario">
            <a href="#" class="enlace-autor">Comentario de Patricia, hace 1 hora</a>
            <p class="texto-contenido">lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <!-- Formulario inferior de comentarios -->
        <form class="formulario-envio">
            <input type="text" class="campo-texto" placeholder="Escribe un comentario...">
            <button type="submit" class="btn-enviar">Enviar</button>
        </form>
    </section>
</div>

</body>
</html>