<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <main>
        <section>
            <h1>Editar Usuario</h1>
        <form action="Usuario">
            <div class="arreglo"><label for="nombre">Nombre</label><input id="nombre" type="text"></div>
            <div class="arreglo"><label for="email">E-Mail</label><input id="email" type="text"></div>
            <div class="arreglo"><label for="contra">Contraseña</label><input id="contra" type="text"></div>
            <div class="arreglo"><label for="confContra">Conf. Contraseña</label><input id="confContra" type="text"></div>
            <div class="arreglo"><label for="tipoUser">Tipo de Usuario</label><select id="tipoUser"><option>Administrador</option><option selected>Usuario</option></select></div>
            <div class="arreglo"><button>Crear</button></div>
        </form>
        </section>
    </main>
</body>
</html>