<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <main>
        <section>
            <div class="contenedor-interfaz">
    <!-- Botón superior derecho -->
    <div class="cabecera-acciones">
        <button class="btn-nuevo">Nuevo Usuario</button>
    </div>

    <!-- Tabla de datos -->
    <table class="tabla-usuarios">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>E-mail</th>
                <th>Tipo Usuario</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Patricia</td>
                <td>patricia@codingdojo.com</td>
                <td>Admin</td>
                <td>
                    <!-- Tu contenedor de iconos integrado aquí -->
                    <div class="items">
                        <button><img src="https://www.svgrepo.com/show/305463/email-outline.svg" alt=""></button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Andrea</td>
                <td>andrea@codingdojo.com</td>
                <td>Usuario</td>
                <td>
                    <div class="items">
                        <button><img src="https://www.svgrepo.com/show/305463/email-outline.svg" alt=""></button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Katya</td>
                <td>katya@codingdojo.com</td>
                <td>Usuario</td>
                <td>
                    <div class="items">
                        <button><img src="https://www.svgrepo.com/show/305463/email-outline.svg" alt=""></button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

        </section>
    </main>
</body>
</html>